* {
    margin: 5px;
    
  }

  
  body {
    background-color: white;
    display: flex;
    justify-content: center;

  }
  
  
  
  .container {
    border: 7px solid black;
    background-color: whitesmoke;
  }
  
  .yoo{
    object-position: 10px;
    position: relative;
    top: -10px;
    left: 30px;
    width:250px;
    height: 250px;
    border-radius: 50%;
    border: 4px solid black;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
  }
  
  
  .todito {
    display: flex;
    justify-content: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);

      
  
  }
  
  .Informacion{

    padding: 25px;
    margin: 15px 10px;
    border: 4px solid black;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);


  }
  
  .Academica{
  
    padding: 25px;
    margin: 15px 10px;
    border: 4px solid black;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);

  }
  
  .Habilidades{
  

    padding: 25px;
    margin: 15px 10px;
    border: 4px solid black;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);

  }
  
  .Proyectos{
  

    padding: 25px;
    margin: 15px 10px;
    border: 4px solid black;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);

  }
  
  .certificados {
    padding: 25px;
    margin: 15px 10px;
    border: 4px solid black;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);

  }

  .foto {
    width: 250px;
    margin-top: 10px;
    border: 2px solid black;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);

  }

  .foto2 {
    width: 250px;
    margin-top: 10px;
    border: 2px solid black;
    display: flex;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);

  }